ul, ol {
  margin: 0;
  padding: 10px;
  list-style: none;
}

nav {
  background-color: #2f3b3562; 
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgba(205, 31, 31, 0.938); 
}

nav a:hover {
  background-color: hsla(21, 74%, 40%, 0.537); 
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px; 
}


 .button {
  background-color: rgba(212, 140, 31, 0.682);
  border: none;
  color: #24c349ad;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.logoutButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }
  
  .logoutButton:hover {
  background-color: #d32f2f; 
  }
  
  .logoutButton:focus {
  outline: none;
  }
input[type=text],input[type=password]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #1b240b5f;
  border-radius: 4px;
  box-sizing: border-box;
}

label
{
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}



